/* Menu bar */
:root:-moz-lwtheme-darktext #main-menubar > menu {
	-moz-appearance: auto !important;
}

/* Use native rendering for toolbar buttons */
:root:-moz-lwtheme-darktext toolbarbutton {
	-moz-appearance: toolbarbutton !important;
}

/* Remove the hover/pressed colors on the toolbar buttons */
:root:-moz-lwtheme-darktext,
:root:-moz-lwtheme-darktext toolbar:not([brighttext]) {
	--toolbarbutton-hover-background: transparent !important;
	--toolbarbutton-active-background: transparent !important;
}

/* Set appearance of URL and search boxes */
:root:-moz-lwtheme-darktext #urlbar,
:root:-moz-lwtheme-darktext #searchbar {
	box-shadow: none !important;
}

:root:-moz-lwtheme-darktext #urlbar:-moz-lwtheme > #urlbar-background,
:root:-moz-lwtheme-darktext #navigator-toolbox #searchbar:-moz-lwtheme {
	background-color: Window !important;
	color: WindowText !important;
}

/* Hover text color on menu bar */
:root:-moz-lwtheme-darktext menubar > menu[_moz-menuactive="true"]:-moz-lwtheme:not([disabled="true"]) {
	color: ButtonText !important;
}

/* New address bar */
:root:-moz-lwtheme-darktext #urlbar:-moz-lwtheme > #urlbar-background,
:root:-moz-lwtheme-darktext #navigator-toolbox #searchbar:-moz-lwtheme {
	border: 1px solid ThreeDShadow !important;
	box-shadow: none !important;
}

/* Firefox 89 tabs */

:root:-moz-lwtheme-darktext #nav-bar {
    box-shadow: none;
    border-top: 1px solid ThreeDShadow;
}

:root:-moz-lwtheme-darktext #TabsToolbar:not([brighttext]) #tabbrowser-tabs:not([noshadowfortests]) .tabbrowser-tab:is([visuallyselected="true"], [multiselected]) > .tab-stack > .tab-background {
    box-shadow: none !important;
    border: 1px solid ThreeDShadow !important;
}
